<div class="beer-wrapper">
    <div class="image-wrapper">
        <a href="/beers/{{this.id}}">
            <img src="{{this.image_url}}">
        </a>
    </div>
    <div class="content-wrapper">
        <h2>{{this.name}}</h2>
        <p class="tagline"><strong>Tagline:</strong> {{this.tagline}}</p>
        <p><strong>Description:</strong> {{this.description}}</p>
    </div>
</div>

